<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/taucharts@1/build/production/tauCharts.min.css">
        <title>Factom community testnet monitoring</title>
    </head>
    <body>
        <div id="content"></div>
        <script src="https://cdn.jsdelivr.net/d3js/3.5.17/d3.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/taucharts@1/build/production/tauCharts.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            var startBlock = {{ start_block|safe }};
            var plotData = {{ data|safe }};

            var chart = new tauCharts.Chart({
                type: 'line',
                data: plotData,
                x: 'dbheight',
                y: 'wps',
                guide: {
                    x: { min: {{ start_block|safe }}, nice: false, label: "Directory Block Height" },
                    y: { label: "WPS" }
                },
                asyncRendering: true,
                fitModel: "minimal",
                plugins: [
                    tauCharts.api.plugins.get('tooltip')()
                ]
            });

            function updatePlot() {
                $.getJSON("/wps-history/" + startBlock, function(data) {
                    console.log(data);
                    chart.setData(data);
                });
            }

            $(function() {
                updatePlot();    
                chart.renderTo('#content');
                setInterval(updatePlot, 3 * 60 * 1000);
            });
        </script>
    </body>
</html>
